# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.*

# Build outputs
dist/
build/
.next/
out/
.cache/

# Tailwind JIT cache
.tailwindcache/

# OS-specific
.DS_Store
Thumbs.db

# React
*.log
*.local
.env.
.vscode/
coverage/
*.tgz

# React Native inside App/mobile
apps/mobile/android/
apps/mobile/ios/
apps/mobile/node_modules/
apps/mobile/.gradle/
apps/mobile/.idea/
apps/mobile/.expo/
apps/mobile/.expo-shared/
apps/mobile/expo-debug.*
apps/mobile/fastlane/
apps/mobile/build/
apps/mobile/.watchmanconfig
apps/mobile/.vscode/
apps/mobile/*.keystore
apps/mobile/Pods/
apps/mobile/.xcworkspace/
apps/mobile/*.xcodeproj/
apps/mobile/*.xcuserdata/
apps/mobile/.DS_Store

# Misc
*.swp
*.swo