@import "tailwindcss";
@import "sweetalert2/dist/sweetalert2.min.css";
@custom-variant dark (&:where(.dark, .dark *));

textarea {
    form-sizing: content;
}

.large-text {
  font-size: 1.1rem;
}

.high-contrast {
  filter: contrast(150%) saturate(150%);
}

.dyslexia-font {
  font-family: 'OpenDyslexic', Arial, sans-serif;
}
